@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div ng-controller="navList">
    <table id="dt" class="display">
        <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>状态</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data" on-render-finished>
                <td>{{$index+1}}</td>
                <td>
                    <input type="text" ng-model="d.title" />
                    <a>修改</a>
                </td>
                <td>
                    <label class="label label-danger" ng-if="d.enable">已启用</label>
                    <label class="label label-danger" ng-if="!d.enable">已停用</label>
                    <a ng-if="d.enable">点击停用</a>
                    <a ng-if="!d.enable">点击启用</a>
                </td>
                <td>
                    <button class="btn btn-sm btn-info"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </td>
                <td>
                    <button class="btn btn-sm btn-primary">内容管理</button>
                    <button class="btn btn-sm btn-primary">子导航管理</button>
                    <button class="btn btn-sm btn-danger">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
