
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div ng-controller="nav">
    <table id="dt" class="display">
        <thead>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>启用</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data" on-render-finished>
                <td>{{$index+1}}</td>
                <td>{{d.title}}</td>
                <td>
                    <button class="btn btn-sm btn-danger" ng-if="d.enable">停用</button>
                    <button class="btn btn-sm btn-success" ng-if="!d.enable">启用</button>
                </td>
                <td>
                    <button class="btn btn-sm btn-info"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </td>
                <td>
                    <button class="btn btn-sm btn-primary">编辑</button>
                    <button class="btn btn-sm btn-danger">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="sk-spinner sk-spinner-wave">
    <div class="sk-rect1"></div>
    <div class="sk-rect2"></div>
    <div class="sk-rect3"></div>
    <div class="sk-rect4"></div>
    <div class="sk-rect5"></div>

</div>
