@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div ng-controller="pageAdd">
    <form>
        <div class="form-group">
            <label>标题：</label>
            <input type="text" class="form-control" placeholder="请输入单页标题..." ng-model="pageModel.title">
        </div>
        <div class="form-group">
            <label>正文：</label>
            <script id="container" name="content" type="text/plain">
            </script>
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-success" ng-click="save()">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</button>
        </div>
    </form>
</div>

