<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>企业版 - 后台管理</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <!--侧边栏开始-->
    <link href="~/Plugin/sidebar/css/sidebar.css" rel="stylesheet" />
    <script src="~/Plugin/sidebar/js/sidebar.js"></script>
    <!--侧边栏结束-->
    <!--表格开始-->
    <link href="~/Plugin/datatable/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Plugin/datatable/js/jquery.dataTables.js"></script>
    <!--表格结束-->
</head>
<body>
    @Html.Partial("_Partial_Admin_Sidebar")
    <div class="main">
        @RenderBody()
    </div>
</body>
</html>
